---
---

$gray: #999;
$light-gray: #EEE;

/* Space out content a bit */
body {
    padding-top: 20px;
}

.header {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;

    a:link, a:visited {
        color: $gray;
    }
}

.fa {
    color: $gray;
}
a > .fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}

/* /\* Customize container *\/ */
/* @media (min-width: 768px) { */
/*     .container { */
/*         max-width: 730px; */
/*     } */
/* } */

/* Jumbotron */
.jumbotron {
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 125%
}

/* Group logo */
#logo {
    width: 154px;
    height: 35px;
    margin: 2px 0 8px 0;
}

/* Front page news. */
ul.news {

    .date {
        color: $gray;
        font-weight: bold;
    }

    > li {
        margin-top: 1em;
    }
}

@media (min-width: 576px) {
    .project-people { column-count: 2 }
    .card-columns   { column-count: 2 }
}

@media (min-width: 768px) {
    .role.grad      { column-count: 2 }
    .project-people { column-count: 3 }
    .card-columns   { column-count: 3 }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {

    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }

    .card-footer { padding: 0.5em }
}

.person {

    margin-bottom: 10px;

    .profile {
        height: 70px;
        width: 70px;
    }

    .bio {
        color: $gray;
    }

    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;

    .bio {
        margin-left: 1em;
    }
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}


.glyphicon.fa {
    font-family: FontAwesome;
    }
.header-back {
    height: 470px;
    width: 100%;
    background-position: 50% 0;
    background-repeat:  no-repeat;
    background-size: cover;
    }
.carousel {
    height: 470px;
    }
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 470px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 470px;
}
.carousel-fade {
    .carousel-inner {
        .item {
            opacity: 0;
            -webkit-transition-property: opacity;
            transition-property: opacity;
        }
        .active {
            opacity: 1;
            &.left, &.right {
                left: 0;
                opacity: 0;
                z-index: 1;
            }
        }
        .next.left, .prev.right {
            opacity: 1;
        }
    }
    .carousel-control {
        z-index: 2;
    }
}
.carousel-control {
    &.left, &.right {
        background: 0 0;
    }
    width: 6%;
}
.carousel-inner {
    .container {
        position: relative;
    }
    overflow: visible;
}
.carousel-caption {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: auto;
    right: auto;
    text-align: left;
    &.blank {
        top: 140px;
    }
}
.carousel-image {
    position: absolute;
    right: 10px;
    top: 150px;
}
.carousel-caption {
    h1 {
        font-weight: 700;
        font-size: 38px;
        text-shadow: none;
        letter-spacing: -1.5px;
    }
    p {
        font-weight: 700;
        text-shadow: none;
    }
}
